
* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

}

body {
    background-color: #F3F5FC;

}

.main {
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}

.input-texto {
    margin-top: 90px;
    background-color: #F3F5FC;
    border-radius: 25px;
    border: none;
    outline: none;
    resize: none;
        
}

.mensagem {
    position: relative;
    margin-top: 20px;
    margin-left: 90px;
    background-image: url("imagens/boneco.png");
    background-repeat: no-repeat;
    border-radius: 25px;
    border: none;
    outline: none;
}

.botoes {
    display:flex;
    flex-direction: row;
    margin-top: 20px;

}

.encriptar {
    background-color: #0A3871;
    color: white;
    border-radius: 25px;
    border: none;
    outline: none;
    resize: none;
      
}

.desencriptar {
    margin-left: 30px;
    background-color: #D8DFE8;
    color: #0A3871;
    border-radius: 25px;
    border: none;
    outline: none;
    resize: none; 
}

.fas {
     
    font-size: 12px;
    color: #313335;
     
    
  
}
  

button {
    cursor: pointer
}

button:hover{
    background-color: #FFF;
    color: #0A3871;
    transition: 0,3s;

}

.btn-copiar {
    background-color: #D8DFE8;
    color: #0A3871;
    margin-left: 180px;
    border-radius: 25px;
    border: none;
    outline: none;
    resize: none;
    
}

.msn {
    font-size: 24px;
    text-align: center;

}

.digite{
    font-size: 16px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    gap: 1rem;
    color: #0A3871;
    
}

footer div {
    display: flex;
    gap: 1rem;
    align-items: center
}

footer div::before{
    content: '|';
}

footer span {
    color: #0A3871;
    font-weight: bold;
    font-size: 20px;
}

footer img {
    width: 1.0rem;
}